<section class="inner-intro about-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
    </div>
  </div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>About</span> School</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 pb-xs-30">
        <div class="text-content">
          <p style="text-align:justify">
              <b>DEMO</b> is a well established co-educational English medium school. This esteemed organization was founded by <b>Dr. ALEZENDER</b> along with his brother <b>Dr. ALEZENDER</b> in Mainpuri in the memory of his beloved parents (Shree ALEZENDER and Smt. ALEZENDER). After successful establishment in Mainpuri, Etawah and two other cities, It has been established on NH2 at New York Mod, in <b>America</b>.
          <br />
           <br />
           At <b>DEMO</b> we perceive at education as an empowering journey of intellectual, emotional and spiritual learning. Students at <b>DEMO</b> are driven into advanced ways of learning through exploration and engagement. Our progressive academic curriculum and a rich array of value oriented co-curricular activities aims at moulding the students building blocks of society. 
          <br /> 
          <br />
          Dr. ALEZENDER and Dr. Anand Mohan both have gained several achievements in the field of education with their hard labour and special guidance. Both the brothers not only have earned a name in CBSE Board but simultaneously have also shouldered several salient accountabilities successfully. Under the miraculous guidance and direction of these two brothers thousands of students after clearing <b>AllMS, NEET, PMT, llT, NOA, JEE</b> and are the like, have established high standards in their careers.                        
          <br />
          <br />
          <b>SGA</b> ensures to render <b>'smart-class'</b> based education drenched with Indian culture. It is our sole belief that every child has an inherent talent, but if the child is nurtured by an eligible teacher, his talent develops to the maximum. If kids get education through play way method, it enhances their special attachment towards education. Keeping this fact in mind, <b>DEMO</b> has already planned to establish a 'kids park'. Well equipped labs will be one of the features of this institute. We also wish that promising students will be given special discounts in fee so that these students may get encouragement time to time. Keeping in mind the Indian Govt. Scheme, <b>'Padhe Betiyan' 'Badhe Betiyan'</b>, girls will be given fifty percent discount intheir admission fee.</p>    
        </div>       
      </div>
      <div class="col-sm-3">
        <div class="tab-title">
            <ul class="clearfix">
                <li>
                    <a href="about-us.html" class="active">About Us</a>
                </li>
                <li>
                    <a href="achievements.html">Achievements</a>

                </li>
                <li>
                    <a href="javascript:avoid(0);">Academics</a>

                </li>
                <li>
                    <a href="features.html">Facilities</a>

                </li>
                <li>
                    <a href="gallery.html">Gallery</a>

                </li>
                <li>
                    <a href="pdf/prospectus.pdf" target="_blank">Prospectus</a>

                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
