<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <!--<h1 data-title="About"><span>Chairman's Message</span></h1>-->
    </div>
  </div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>Chairman's</span> Message</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-right:15px; padding-left:0px">
          <div class=" wish-send haslayout">
            <figure><img src="/assets/manager.jpg" alt="image description"  style="border:2px solid #13527a"></figure>
          </div>
        </div>
        <p class="inner-p">
            Dear Parents,<br>
            We at DEMO firmly believe that rights come only whan one performs one's duties and responsibilities and this notion forms the crux of our teaching system.
            <br><br>At DEMO, our focus is not only to transform our students into global citizens but also to mould then responsible citizens who understand their responsibilities towards their family, society and the nation.
            <br><br>We make sure that our curriculum designed, infuses values of the society and qualities of a leader, making them a valuable asset to humanity.
            <br><br>We are deeply aware that the future of our country is being moulded, shaped and nurtured in our school and team DEMO Auraiya will leave no stone unturned to achieve its goal.
        </p>
        <p class="inr-hd">DEmo School<br><b style="font-size:20px">Dr. ALEZENDER&nbsp;&nbsp;|&nbsp;&nbsp;</b>(M.Sc., M.Ed., Ph.D., E.S.E.Sc, FAEB, FNC)</p>
      </div>
      <div class="col-sm-3">
        <div class="tab-title">
          <ul class="clearfix">
            <li>
                <a href="about-us.html" class="active">About Us</a>
            </li>
            <li>
                <a href="achievements.html" >Achievements</a>

            </li>
            <li>
                <a href="javascript:avoid(0);">Academics</a>

            </li>
            <li>
                <a href="facilities.html">Facilities</a>

            </li>
            <li>
                <a href="gallery.html">Gallery</a>

            </li>
            <li>
                <a href="pdf/prospectus.pdf" target="_blank">Prospectus</a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
