<section class="inner_page_cont admission-over">
  <div class="container">
    <div class="overview">
      <div class="title_group">
        <h2 class="title"></h2>

      </div>
      <div class="withdrawal_process">
        <div class="apply_cont">
          <h1 style="text-align: center;"><span style="color: #993300;"><strong>ARISTOTLE WORLD INCLUSION POLICY</strong></span></h1>
          <p><strong>INTRODUCTION:</strong></p>
          <p>Access to education refers to the means through which the school policy, process, and practice will ensure that students have equitable opportunities to benefit from their educational experiences with a holistic approach. It is a critical
              component for us to achieve inclusion in our schools.</p>
          <p>Inclusive policies are essential in inclusive schools to ensure that all students, regardless of their diverse needs, can access and benefit from the educational opportunities provided. This policy will provide information to sustain
              the rights to access equitable education for the students in the Aristotle World ARISTOTLE WORLD Group of Schools.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Why Policy?</strong><strong> The Objectives of this Policy:</strong></span></h3>
          <p><strong>Promotes Equity and Access</strong></p>
          <ul>
              <li><strong>Equal Opportunities</strong>: Inclusive policies ensure that every student has equal access to educational resources and opportunities, regardless of their abilities or disabilities.</li>
              <li><strong>Barrier Removal</strong>: Policies help identify and eliminate physical, academic, and social barriers that might otherwise hinder the differently-abled students from fully participating in school activities.</li>
          </ul>
          <p><strong>Fosters a Supportive Learning Environment</strong></p>
          <ul>
              <li><strong>Adapted Teaching Methods</strong>: Inclusive policies guide the implementation of differentiated instruction and adaptive teaching strategies that accommodate diverse learning styles and needs.</li>
              <li><strong>Resource Allocation</strong>: The policy will ensure the provision of necessary resources, such as assistive technology, specialized materials, and trained staff, to support all students effectively.</li>
          </ul>
          <p><strong>Encourages Social Integration and Acceptance</strong></p>
          <ul>
              <li><strong>Diverse Interaction</strong>: Inclusive policies promote interactions among students of different abilities, fostering an environment of mutual respect and understanding.</li>
              <li><strong>Social Skills Development</strong>: They support the development of social skills and empathy among students, preparing them for a diverse society.</li>
          </ul>
          <p><strong>Enhances Academic Outcomes</strong></p>
          <ul>
              <li><strong>Tailored Support</strong>: Policies ensure that students receive personalized support that addresses their specific learning needs, leading to improved academic performance and personal growth.</li>
              <li><strong>Continuous Monitoring</strong>: They provide a framework for regular assessment and feedback, allowing for ongoing adjustments to meet a students’ evolving needs.</li>
          </ul>
          <p><strong>Involves Families and Communities</strong></p>
          <ul>
              <li><strong>Parental Involvement</strong>: Inclusive policies encourage the involvement of families in the educational process, ensuring they are informed and engaged in their child’s learning and support.</li>
              <li><strong>Community Engagement</strong>: They promote collaboration with community organizations and stakeholders to enhance support systems and resources available to students.</li>
          </ul>
          <p><strong>Builds a Culture of Inclusion</strong></p>
          <ul>
              <li><strong>Positive School Culture</strong>: Inclusive policies help create a school culture that values diversity and inclusion, where all students feel welcomed and valued.</li>
              <li><strong>Role Modelling</strong>: They set a standard for inclusive practices, demonstrating to students and the community the importance of acceptance and respect for all individuals.</li>
          </ul>
          <p><strong>Ensures Long-Term Success</strong></p>
          <ul>
              <li><strong>Preparation for the Future</strong>: By fostering an inclusive environment, schools prepare all students for future success in higher education, employment, and community life.</li>
              <li><strong>Life Skills Development</strong>: Inclusive policies support the development of essential life skills, such as problem-solving, communication, and adaptability, self-care, organizational skills, assertiveness and self-advocacy
                  that are crucial for all students.</li>
          </ul>
          <p><strong> </strong></p>
          <h3><span style="color: #000080;"><strong>Developing A Vision of Inclusion:</strong></span></h3>
          <p>Our vision is to cultivate a school community where diversity is celebrated, and every individual feels valued, respected, and empowered to reach their full potential. We aspire to create an inclusive environment that embraces differences
              in culture, background, abilities, and perspectives, fostering a sense of belonging for all students, staff, and families. Together, we strive to create a welcoming and supportive learning community where diversity is not only
              accepted but also celebrated as a strength.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Communicating the Inclusive Vision</strong><strong>: </strong></span></h3>
          <p>Ensuring that school policies and admission processes communicate welcoming, positive, caring, and inclusive principles/morals, like school websites, social media pages, school prospectus, school magazines, events, etc. It also provides
              an opportunity for parents to learn along with their children about the benefits of belongingness, acceptance, and inclusivity.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Entry Level Screening and Admission Procedures</strong><strong>:</strong></span></h3>
          <p>The entry-level screening/assessment process for differently abled students focuses on identifying strengths and challenges to learning and providing required need-based support to meet success.</p>
          <p><strong> </strong><strong>Admission Procedure</strong></p>
          <ul>
              <li>The special educator and the school counsellor is assigned the responsibility of screening and assessing the candidates who appear for admission interactions in sub-junior section and formal examination in different levels.</li>
              <li>A structured assessment format for conducting the sub-junior (Nursery-Class II) interviews/ interactions for admissions is strictly followed with the qualitative rubrics given in every parameter, designed by the Inclusive Dept.</li>
              <li>The Principal, Coordinators and Subject teachers are involved in the assessment/interactions</li>
              <li>During the selection process of differently abled students, the Inclusive Education Department follows the standard operating procedure.</li>
          </ul>
          <p><strong><u>Verification of Medical Documents</u></strong><strong> – </strong></p>
          <ul>
              <li>Psychometric Test Report</li>
              <li>Therapeutic Intervention Record</li>
              <li>Medical history/ Doctor’s prescription</li>
              <li>Any other relevant clinical records</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Resource Room</strong></span></h3>
          <p>A Resource Room is a specialized space within a school designed to lay out additional support and accommodations to students with various learning needs. It presents a dedicated environment where students can obtain individualized
              instruction, access specialized resources, and gets benefit from tailored interventions.</p>
          <p>&nbsp;</p>
          <p><strong>Personalized Learning</strong></p>
          <ul>
              <li><strong>Individualized Plans</strong>: The resource room is used to implement and monitor Individualized Education Plans (IEPs) providing tailored support based on each student’s needs.</li>
              <li><strong>Flexible Scheduling</strong>: Students visit the resource room throughout the day, depending on their schedule and needs.</li>
          </ul>
          <p>&nbsp;</p>
          <p><strong>Collaboration with Classroom Teachers</strong></p>
          <ul>
              <li><strong>Co-Teaching Models</strong>: Co-teaching models are implemented where special education teachers and general education teachers work together to support students in both the resource room and mainstream classrooms.</li>
              <li><strong>Communication</strong>: Regular communication is maintained between special educators and classroom teachers.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Sensory Room-</strong><strong> </strong></span></h3>
          <p>A sensory room is a specially designed space that provides a range of sensory experiences to help individuals with sensory processing issues or other developmental disabilities. In an inclusive setup, the primary goal of a sensory
              room is to build a protected and calming environment where individuals can regulate their sensory input and develop coping techniques.</p>
          <p>&nbsp;</p>
          <p><strong>School-based OT</strong><strong>:</strong></p>
          <ul>
              <li><strong>Self-regulation</strong>: Assists students in managing their emotions and behaviours effectively.</li>
              <li><strong>Sensory diets</strong>: Customized plans of sensory activities designed to provide the necessary sensory input for staying focused and organized throughout the day.</li>
              <li><strong>Movement breaks</strong>: Short physical activities that help improve focus and reduce restlessness.</li>
              <li><strong>Brain breaks:</strong> Brief mental pauses to refresh and enhance learning and concentration.</li>
              <li><strong>Organizing dysregulated sensory systems</strong>: Techniques and activities aimed at achieving a balanced sensory state for better daily functioning.</li>
          </ul>
          <p>&nbsp;</p>
          <p><strong>Use of the Sensory Room</strong>:</p>
          <ul>
              <li>Need-based access to sensory room’s equipment are followed under the supervision of a special educator. There is a fixed daily schedule to use the sensory room for children under spectrum or those who are in need. This will provide
                  their sensory feed, to provide consistency and aiding in sensory regulation.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong><u>Screening of the Differently-Abled Students From Regular Classrooms</u></strong><strong>:</strong></span></h3>
          <ul>
              <li>There are various hidden neurological deficits and learning disabilities cases that are identified by the class teachers and subject teachers during academic sessions.</li>
              <li>Class teacher/subject teachers will share his/her observations and concerns related to academics/behavior with the head of the Inclusive Education Department, keeping the respective class coordinator in the loop.</li>
              <li>Department assessments (academics &amp; behavior) will be done by the special educator and school counselor. Based on their reports the action plan will be developed.</li>
              <li>If required, the school will refer the student for psychometric testing. The head of the Inclusive Education Department will issue the referral letter.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Developing the IEP</strong><strong>:</strong></span></h3>
          <p>An Individualized Education Program (IEP) is an important component. The objective of an IEP is to plan individualized provision to reduce those barriers/hurdles as per their difficulty, disorder/condition.</p>
          <ul>
              <li>Parents provide input on their child’s needs, strengths, and goals.</li>
          </ul>
          <ul>
              <li>Regular communication is maintained to keep parents informed and involved in the process.</li>
          </ul>
          <ul>
              <li>The IEP will detail any referral therapies and services like physical therapy, occupational therapy, speech therapy, psychological services, and other specialized support.</li>
          </ul>
          <p>&nbsp;</p>
          <p><strong><u>IEP Development Process Includes</u></strong><strong>:</strong></p>
          <ol>
              <li><strong>Assessment and Evaluation</strong>:</li>
          </ol>
          <ul>
              <li>An initial assessment will be conducted to identify the strengths, needs, and learning goals of the differently-abled students.</li>
              <li>The assessment will involve input from special educators, teachers and parents.</li>
          </ul>
          <ol start="2">
              <li><strong>IEP Documentation</strong>: The IEP will be documented, outlining the student’s current performance, goals, accommodations, modifications, and required therapy services.</li>
              <li><strong>Implementation</strong>:</li>
          </ol>
          <ul>
              <li>The IEP will be implemented by the special educators in coordination with school counsellors wherever necessary)</li>
              <li>Regular follow-up will ensure that the student’s needs are being met and progress is being made towards the target area.</li>
          </ul>
          <ol start="4">
              <li><strong>Review and Updates</strong>: The IEP will be reviewed and updated as per requirement.</li>
          </ol>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Involvement of All Stakeholders:</strong></span></h3>
          <ol start="3">
              <li><strong>Parent:</strong> Parents must attend the meetings related to their child’s development and concerns. Parents know their children better than anyone else and have full understanding of their child.</li>
              <li><strong>Student:</strong> The differently-abled students are encouraged to take an active part in school activities. The goals or expectations are communicated to the students in a way they can understand and monitor their own
                  progress in the best way possible.</li>
              <li><strong>Teacher:</strong> Teachers will be implementing the strategies to make the learning easy within classrooms and other learning platforms.</li>
          </ol>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>MISSION HAPPINESS: A MENTAL HYGIENE PROGRAMME</strong></span></h3>
          <p>School counselling is a professional service offered in the school for all students and their families.  It is designed to facilitate student achievement, improve students&#8217; behaviour, and help students to develop socially and
              emotionally. Through comprehensive school counselling programs of developmental, preventive, remedial, and responsive services, school counsellors address the academic development, career development, and personal/social development
              of students.</p>
          <p><strong> </strong></p>
          <h3><span style="color: #000080;"><strong><u>School Counselling</u></strong><strong>&#8211; <u>SOP</u></strong></span></h3>
          <ul>
              <li>Individual and group counselling sessions are provided to help students deal with academic, family, social, emotional and behavioural issues.</li>
              <li>Students with academic and behavioural concerns are referred by the class teachers and subject teachers to the school counsellor for relevant intervention.</li>
              <li>Detailed observation is done in different settings (e.g., classroom, playground, co- curricular periods) to find out any concerns or patterns in behaviour.</li>
              <li>Information is gathered from the parents about the developmental milestones, case history and family environment of the student.</li>
          </ul>
          <ul>
              <li>Need-based interventions are planned and provided to students for managing emotions, specific issues like anxiety, inattention, hyperactivity, anger management, bullying, conflict resolution, academic challenges and improving social
                  skills etc. by applying positive behaviour modification techniques and social skills training.</li>
              <li>Constant monitoring and recording of the students’ progress towards their set behavioural goals and modification of interventions are done, based on the ongoing assessments and feedback from teachers and parents.</li>
              <li>Regular sessions are conducted with parents on psycho-education, child development, identification and addressing of specific needs at home and effective parenting strategies.</li>
          </ul>
          <ul>
              <li>Collaboration with teachers and management is done to modify classroom practices and implement positive behaviour management techniques to ensure students’ well-being.</li>
              <li>External referral to clinical psychologists, psychiatrists or therapists are done, if extensive support outside school is found to be mandatory for a student&#8217;s overall development.</li>
              <li>Sensitization programs and workshops are conducted for students, teachers and staff members on life skills, value education, dealing with contemporary behavioral concerns, and strategies to maintain a safe and secured environment
                  to foster all round development among students.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Creating a Happiness Quotient In School: </strong></span></h3>
          <p>A committee, including the anti-bullying committee, are dedicated to creating a happy, comfortable, inspiring, empathetic, and resilient school community where wellness-related concerns will be openly discussed to prioritize resources
              for emotional well-being and academic excellence. The mission is to foster a happy environment where every student must feel recognized, valued, and supported.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h2><strong><u>CBSE EXEMPTIONS AND CONCESSIONS</u></strong><strong>:</strong></h2>
          <h3><span style="color: #000080;"><strong>Alternate Subject Options</strong><strong>:</strong></span></h3>
          <p>Positive channelization of stress and reduction of academic pressure is an important factor for differently abled students. Students with learning difficulties or any other disabilities will benefit by altering some subjects. Some
              criteria to be followed &#8211;</p>
          <ul>
              <li>Differently-abled students can be exempted from studying a third language.</li>
              <li>They can choose alternate subject options as offered by CBSE:</li>
          </ul>
          <ul>
              <li>One compulsory language against two.</li>
              <li>Rest four subjects from <strong><u>Group 1:</u></strong> Maths, Science, Social Science, another language, Music, Painting, Home Science, Elements of Business, Elements of Bookkeeping and Accountancy, and Computer Applications.</li>
              <li><strong><u>Group-2:</u></strong> Skill subjects (IT/AI from Group-2 cannot be offered if Computer Applications from Group-1 is opted).</li>
          </ul>
          <ul>
              <li>Generally, this alternate subject combination is offered to differently abled students from class IV onwards.</li>
              <li>Special consideration can be given in class III (depending upon the needs/level of the student).</li>
          </ul>
          <p>Please refer to the CBSE Circular on <strong><u>Exemptions/Concessions</u></strong> extended to Persons with Benchmark Disabilities for Class X &amp; XII Examinations conducted by the CBSE and Standard Operating Procedure.</p>
          <p>&nbsp;</p>
          <h3><strong><span style="color: #000080;">Examination Guidelines:</span> </strong></h3>
          <p><strong>i) <u>Protocol as per CBSE</u>:</strong></p>
          <ul>
              <li>School will provide compensatory time/scribe/adult prompter/examination through computers during examinations according to the eligibility criteria given by CBSE.</li>
              <li>Alternate-type questions will be provided instead of questions having visual inputs for visually impaired candidates in subjects like Social Science.</li>
              <li>Visually impaired candidates will be allowed to use magnifying glasses/portable video magnifiers. From lower classes up to class- V they can be provided with a large font question paper.</li>
              <li>School is always updated with the latest CBSE circular.</li>
          </ul>
          <p>&nbsp;</p>
          <p><strong>ii) <u>Protocols to Conduct Examinations in School for The Differently-abled Students</u></strong>:</p>
          <ul>
              <li>An alternate seating arrangement will be planned for the students who are not yet ready to cope with the general examination system, conducted in mainstream classes. Schools will require parental consent for this system.</li>
              <li>This system fades out gradually depending upon the student’s progress towards mainstreaming.</li>
              <li>The objective is to encourage the acquisition of confidence and coping mechanisms.</li>
              <li>The scribe/adult prompter of a student has to sign a consent letter where all the rules and regulations of the examination and role of them will be mentioned.</li>
              <li>Students with a scribe/adult prompter will have an alternate seating arrangement in separate rooms with one invigilator.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Special Leave Consideration for differently-abled students</strong><strong>:</strong></span></h3>
          <p>School establishes a clear and consistent process for granting special leave and attendance relaxation for differently abled students to ensure they receive necessary therapies and support while maintaining their educational progress.
              The school will approve the appeal against valid documents.</p>
          <p><strong><u>Relaxation in Attendance</u></strong><strong>:</strong></p>
          <ul>
              <li>In accordance with CBSE circular (CBSE/COORD/112233/2019), relaxation in attendance up to 50% may be considered for differently-abled students.</li>
              <li>Attendance relaxation will be granted based on individual needs, and medical conditions and as per recommendations by the school’s special educators/counsellors /therapists/ doctors.</li>
          </ul>
          <p><strong><u>Special Leave for therapies</u></strong><strong>: </strong></p>
          <p><strong>Eligibility</strong>: Differently-abled students are eligible to receive special leave for attending prescribed therapies such as physiotherapy, occupational therapy, speech therapy, psychological counselling, etc.</p>
          <p><strong>Flexibility in Schooling</strong>:</p>
          <ul>
              <li>Differently-abled students may avail of half-day/alternate-day schooling to attend necessary therapies without missing all classes, subject to the school’s consideration.</li>
              <li>Parents must submit a request for half-day/alternate-day schooling along with supporting documentation from registered medical practitioners or authorized psychologists.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Access to classwork/study materials</strong><strong>:</strong></span></h3>
          <p>Differently-abled students and their parents will have access to classwork from teachers.</p>
          <p><strong><u>Ensuring Access to Classwork</u></strong></p>
          <ol>
              <li><strong> Communication- Online Platforms:</strong> Using digital platforms where classwork, assignments, and resources can be accessed remotely.</li>
              <li><strong> Physical Copies:</strong> Parents can be provided with the classwork to get it photocopied.</li>
              <li><strong> Extended Deadlines:</strong> Extended deadlines and modified due dates are allowed for assignments whenever required.</li>
          </ol>
          <p><strong><u>Implementation of Accommodations</u></strong></p>
          <ol>
              <li><strong> Modified Assignments/Adaptations:</strong> Classwork is adapted to meet the individual needs of students with special needs.</li>
              <li><strong> Support Services: </strong>Special educators, shadow teachers, or general educators provide help to students to complete and understand their classwork.</li>
          </ol>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Provision of Shadow support:</strong></span></h3>
          <p>Shadow teachers, who are also considered co-teachers or para-educators, monitor and assist a specific child’s progress in class. The goal is to ensure that they help these children eventually set off as part of a mainstream classroom
              and give them the ability to function individually in such an arrangement by increasing their self-confidence and positive interaction in the classroom.</p>
          <p>&nbsp;</p>
          <p><strong>Guidelines for Appointing Shadow Teachers:</strong></p>
          <ul>
              <li>Appointment of shadow teachers by the parents must be done with valid documentation (i.e. Govt. ID proof, passport size photo and Police Verification Certificate) through the Principal’s approval.</li>
              <li>Eligibility of shadow teachers is preferably special educator (trainee/fresher) or have a bachelor&#8217;s degree or are pursuing the same.</li>
              <li>A parent can also be a shadow teacher.</li>
              <li></li>
          </ul>
          <p><strong>Fade out Process of Shadow Support</strong><strong>: </strong></p>
          <p>The gradual fading out of shadow support will be the primary objective or motto of our school for mainstreaming differently-abled students. However, students with high limitations, medical issues, and severe or moderate levels of disabilities
              will continue to receive shadow support as needed.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>SUPPORT PLANS FOR STAKEHOLDERS</strong></span></h3>
          <p>Policy-makers and trainers are responsible for developing an inclusive practice for all the stakeholders by delivering training and orientation programs to understand inclusive education and its importance in any drive for educational
              improvement.</p>
          <p><strong> </strong></p>
          <h3><span style="color: #000080;"><strong>Teacher Support Plan:</strong></span></h3>
          <p>Every teacher needs opportunities for inclusive education practicum during their orientation and training, and to feel supported to continue trying new ideas in favour of differently abled students.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Parent Support Plan:</strong></span></h3>
          <p>A positive relationship between parents and school influences children’s attitudes and achievements in education. A Parent Support Plan is crucial in an inclusive school setting, especially when managing differently-abled students.
              This plan ensures that parents are actively engaged in their child’s education and receive the support they need to contribute effectively.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Continuing Rehabilitation Education</strong> (<strong>CRE) for The Special Educators:</strong></span></h3>
          <p>Rehabilitation Council of India, New Delhi is responsible for the development, standardization, and monitoring of training programs in the field of disability rehabilitation and special education. It is mandatory for the special educators
              to get registered in the Central Rehabilitation Register (CRR) of RCI to work in the field of disability and also get the renewal of the registration from time to time.</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>Sensitization Sessions for Non-Teaching &amp; Group-D Support Staff</strong></span></h3>
          <p>It is important to educate them regarding student handling, good/bad touch, the right approach, empathy, self-care, cleanliness, and proper communication with all stakeholders on a time-to-time basis. They are educated on the areas
              of bullying, POCSO, or any unlawful incidents in washrooms and common areas in school.</p>
          <p>&nbsp;</p>
          <h2><strong>HOLISTIC ENGAGEMENT PLAN FOR DIFFERENTLY- ABLED STUDENTS:</strong></h2>
          <p><strong>Equal Participation in Co-Curricular Activities for differently abled children:</strong></p>
          <p>The policy establishes a clear and consistent approach to ensuring full or maximum participation of differently-abled students in all co-curricular activities, promoting their holistic development.</p>
          <p><strong>Recreational Activities: </strong><strong>Recreational activities</strong> refer to any indoor or outdoor activity undertaken for exercise, relaxation, or pleasure, including practice or instruction in any such activity. Differently-abled
              students are also engaged in recreational activities.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>RETENTION POLICY FOR DIFFERENTLY-ABLED STUDENTS</strong></span></h3>
          <p>CBSE has implemented a no failure system, also known as the &#8220;no detention policy&#8221; or &#8220;automatic promotion policy.&#8221; This policy ensures that students are promoted to the next class until they reach class 8.</p>
          <p>Those differently-abled students, who are unable to cope up with the CBSE curriculum with the extensive support from the inclusive policy and practices, will be allowed to repeat <strong>2 times</strong> in their whole school tenure-
              in Pre/Primary Section/ Junior Section (III-V)/ Intermediate Section (VI-VIII) to reach at expected maturity level.</p>
          <p>This policy aims to reduce stress and anxiety among differently-abled students and promote a more inclusive and supportive learning environment.  If the expected goal is not achieved then alternate ways of education/schooling will
              be planned through discussion with the parents.</p>
          <p>&nbsp;</p>
          <h2><span style="color: #000080;"><strong>OUR ALUMNI</strong></span></h2>
          <p>Aristotle World ARISTOTLE WORLD School not only includes the parents whose children are in the school but also the Alumni students and their parents to share their remarkable achievements throughout their tenure. These parents have embraced their roles with
              strength, facing unique challenges while providing unwavering support to their children. As alumni of this institution, they continue to inspire us not just with their professional achievements, but with the compassion and dedication
              they show in their personal lives. Aristotle World ARISTOTLE WORLD Schools respect the parents’ incredible contributions.</p>
          <p><strong><u>Future Plan</u></strong><strong>:</strong></p>
          <ul>
              <li>They can be invited as resource persons to the events to boost the confidence of the young students by sharing their journey and success.</li>
              <li>Parents of the Alumni (IED) can also be the resource to share their children’s success stories. Their journey by holding hands with the Aristotle World ARISTOTLE WORLD Family will be a guiding light for the existing stakeholders.</li>
              <li>Career pathways and vocational guidance can be supported through this expert parent community.</li>
              <li>Organizing an inclusive fest/fair will create experience, exposure, and bonding, to uplift the self-esteem needs of the differently abled students.</li>
              <li>Field trips with the Alumni Group (IED) will give students an extraordinary experience for their holistic development through interaction, communication, and assimilation outside the school environment.</li>
              <li>The Ex-students who are employed in any institution or self-employed, will be real-life examples for existing students.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><span style="color: #000080;"><strong>INCLUSIVE EDUCATION DEPARTMENT: DOCUMENTATION:  </strong></span></h3>
          <p><strong><u>Documentation</u></strong><strong>:</strong> Maintained by Special Educators, Counsellors, School Offices, Coordinators, Class Teachers, Event Coordinators, and Inclusion Support Team.</p>
          <ul>
              <li><strong>Record Keeping:</strong> Accurate records of accommodations, modifications, access arrangements, achievements, and others related to students are maintained. A uniformed format/structure is followed in school for keeping
                  records.</li>
              <li><strong>IEP Documentation:</strong> All modifications related to classwork are documented in the student’s IEP (by special educators mainly).</li>
          </ul>
          <p>&nbsp;</p>
          <p>In conclusion, Aristotle World ARISTOTLE WORLD Schools is proud to establish an inclusive and welcoming school environment in which every student is valued and cherished. All stakeholders within the school community seek to ensure students are afforded every
              opportunity to achieve their personal best and fulfil their individual aspirations. School ensures that their Inclusive Education Department is effectively supporting all students and adhering to the best practices.</p>
          <p>Our inclusivity policies and practices are not static. They evolve in response to changing needs and circumstances. We remain committed to staying at the forefront of Inclusive Education by adapting our policies as required.</p>
          <p>&nbsp;</p>
          <p>*********************</p>
          <p>Copyright © 2024 Aristotle World School</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .withdrawal_process {
    box-shadow: 0px 0px 15px 0px #004E9040;
    padding: 30px;
    border-radius: 20px;
  }

  .apply_cont ul li {
    padding: 0 0 10px 15px;
    position: relative;
  }

  .apply_cont h4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    color: blue;
  }

  .apply_cont li:before {
    position: absolute;
    content: '';
    background: chartreuse;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 0;
    top: 11px;
  }

</style>