<div class="container">
  <main role="main" class="pb-3">            
    <div class="catRedirectMain">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 catRedirect">
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Information.html"><b>PUBLIC Disclosure</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Information.html"><b>No Objection Certificate</b></a>
              <a id="lnkbtnGovt" class="btn-grad" href="LandingNewGovt.html"><b>Affilication Letter</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Category_Wise.html"><b>Society/Trust Registration Certificate</b></a>
              <a id="ExistingSchool" class="btn-grad" href="LandingExisting.html"><b>Recognition Certificate Under RTE Act-2009</b></a>
              <a id="KvsExisting" class="btn-grad" href="LandingExistingGovt.html"><b>Building Safety Certificate</b></a>
              <a id="lnkbtnforeignexisting" class="btn-grad" href="LandingExistingForeign.html"><b>Fire Safety Certificate</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Information.html"><b>DEO Certificate for Affiliation</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Information.html"><b>Water,Health and Sanitation Certificate</b></a>
              <a id="lnkbtnGovt" class="btn-grad" href="LandingNewGovt.html"><b>Fees Structure</b></a>
              <a id="gvlist_lnkbtnOnline_0" class="btn-grad" href="Category_Wise.html"><b>Academic Calendar</b></a>
              <a id="ExistingSchool" class="btn-grad" href="LandingExisting.html"><b>Book List with Declaration</b></a>
              <a id="KvsExisting" class="btn-grad" href="LandingExistingGovt.html"><b>Last Three Year Results of the Board</b></a>
              <a id="lnkbtnforeignexisting" class="btn-grad" href="LandingExistingForeign.html"><b>Norms of fixing fee</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>