<footer>
  <div class="top_footer_info__block ptb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="single_info__block">
            <i class="fa fa-phone"></i>
            <h4>+91-777777777, 777777777 <span>Monday-Saturday, 8am-2pm</span></h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single_info__block">
            <i class="fa fa-envelope-o"></i>
            <h4>schooldemo@gmail.com <span>Monday-Saturday, 8am-2pm</span></h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single_info__block">
            <i class="fa fa-clock-o"></i>
            <h4>School Timing <span>8AM - 2pm</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_footer__block pb-0 pt-60">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer_box__block">
            <h4>About Us</h4>
            <p style="line-height:35px">Demo School is an independent and secular school located in NewYork. SCHOOL is a well established co-educational English medium school. This School is affiliated to the "Central Board of Secondary Education" (CBSE) Delhi.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_box__block">
            <h4>Useful links</h4>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="achievements.html">Achievements</a></li>
              <li><a href="javascript:avoid(0);">Academics</a></li>
              <li><a href="facilities.html">Facilities</a></li>
              <li><a href="pdf/prospectus.pdf" target="_blank">Prospectus</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_box__block address-box">
            <h4>Contact info</h4>
            <ul>
              <li>
                <i class="fa fa-phone"></i>
                <p>Call Us +91-6754565455</p>
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>
                <p><a href="mailto:sga.auraiya27@gmail.com">schooldemo@gmail.com</a></p>
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                <p>NH-19 (Old NH-2) YN Road,Demo address, Kanpur (U.P.) 675456 </p>
              </li>
              <li>
                <i class="fa fa-clock-o"></i>
                <p>Monday-Saturday, 8am-2pm; <br> Sunday Closed</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <h4>How to Reach Us</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.4785235277577!2d79.53331131424382!3d26.440299983333322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399df2eb70e7d9f5%3A0xd2b09214be7bb769!2sPolice+Chowki+Janetpur!5e0!3m2!1sen!2sin!4v1521447353309" width="270" height="227" frameborder="2px" style="border:2px solid #dadada" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="copyriight_block ptb-20 mt-20">
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align:center; font-size:12px">© COPYRIGHT <%= Date.today.year %> DEMO SCHOOL | ALL RIGHTS RESERVED | POWERED BY <a href="http://inventive.in/" target="_blank">INVENTIVE IT SERVICES</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
